---
import { Image } from "@astrojs/image/components";
import { ModalButton } from "./Modal";
import { ImageUpload } from "./ImageUpload";

export interface Props {
  title?: string;
}
---

<div
  class="max-xs:flex-1 h-[800px] xs:rounded-2xl bg-transparent w-full p-6 relative overflow-hidden flex flex-col gap-4"
>
  <Image
    alt="background"
    src="/profile-card/background.jpg"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-30 h-[800px]"
    width={900}
    height={1600}
    format="avif"
    fit="cover"
  />
  <Image
    alt="background effect"
    src="/profile-card/effect.png"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-10 h-[800px] animate-fade-in"
    width={900}
    height={1600}
    format="webp"
    fit="cover"
  />
  <Image
    alt="background effect"
    src="/profile-card/star1.PNG"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-20 h-[800px] animate-fade-in"
    width={900}
    height={1600}
    format="webp"
    fit="cover"
  />
  <Image
    alt="background effect"
    src="/profile-card/star2.PNG"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-20 h-[800px] animate-fade-in"
    width={900}
    height={1600}
    format="webp"
    fit="cover"
  />
  <Image
    alt="background effect"
    src="/profile-card/star3.PNG"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-20 h-[800px] animate-fade-in"
    width={900}
    height={1600}
    format="webp"
    fit="cover"
  />
  <Image
    alt="background effect"
    src="/profile-card/star4.PNG"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-20 h-[800px] animate-fade-in"
    width={900}
    height={1600}
    format="webp"
    fit="cover"
  />
  <Image
    alt="background effect"
    src="/profile-card/star5.PNG"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-20 h-[800px] animate-fade-in"
    width={900}
    height={1600}
    format="webp"
    fit="cover"
  />
  <Image
    alt="background effect"
    src="/profile-card/star6.PNG"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-20 h-[800px] animate-fade-in"
    width={900}
    height={1600}
    format="webp"
    fit="cover"
  />
  <div class="p-4 xs:pl-10 flex flex-col gap-4 w-80 mx-auto mt-32">
    <h1 class="font-extrabold text-2xl">
      <a
        target="_blank"
        rel="noopener"
        class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
        href="https://www.instagram.com/accclub.chula/">@accclub.chula</a
      >
    </h1>
    <!-- <div class="flex justify-between">
      <ModalButton client:load />
    </div> -->
    <ImageUpload client:load />
  </div>
</div>
