---
import { Image } from "@astrojs/image/components";
import { ImageCropper } from "./ImageCropper";

export interface Props {
  title?: string;
}
---

<div
  class="max-xs:flex-1 h-[800px] xs:rounded-2xl bg-transparent w-full p-6 relative overflow-hidden xs:pl-16 xs:pt-12"
>
  <Image
    alt="background"
    src="/profile-card/background.jpg"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-20 h-[800px]"
    width={450}
    height={800}
    format="avif"
    fit="cover"
  />
  <Image
    alt="background"
    src="/profile-card/effect.png"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-10 h-[800px]"
    width={450}
    height={800}
    format="avif"
    fit="cover"
  />
  <div class="bg-gray-50 rounded-2xl p-4">
    <h1 class="mb-4 font-extrabold text-2xl">
      <a
        class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
        href="https://www.instagram.com/accclub.chula/">@accclub.chula</a
      >
    </h1>
    <h3 class="font-bold text-gray-700">Hello world!</h3>
  </div>
  <ImageCropper client:load />
</div>
