---
import { Image } from "@astrojs/image/components";
import { ImageUpload } from "./ImageUpload";

export interface Props {
  title?: string;
}
---

<div
  class="h-[800px] rounded-2xl bg-transparent w-full relative overflow-hidden flex flex-col gap-4 items-center"
  id="card"
>
  <Image
    alt="background"
    src="/background.png"
    class="object-cover left-0 top-0 right-0 bottom-0 absolute -z-30 h-[800px]"
    width={900}
    height={1600}
    format="avif"
    fit="cover"
  />
  <div class="p-4 pl-12 pt-6 flex flex-col gap-4 w-[360px] mt-48">
    <h1 class="font-bold text-lg text-center pr-4">
      <a
        target="_blank"
        rel="noopener"
        class="text-gray-500"
        href="https://www.otog.cf">@otog.cf</a
      >
    </h1>
    <!-- <div class="flex justify-between">
      <ModalButton client:load />
    </div> -->
    <ImageUpload client:load />
  </div>
</div>
